@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600&display=swap');

@theme {
  --font-primary: "Lexend Deca", "sans-serif"; 
}

:root {
  /* Base font variables */
  --font-lexend: 'Lexend Deca';
  --font-size-base: 16px;
  --line-height-base: 24px;
  --paragraph-spacing: 16px;
  --letter-spacing-base: 0;
}

/* Regular variation */
.text-sm-regular {
  font-family: var(--font-lexend);
  font-weight: 400;                /* Regular */
  font-size: var(--font-size-sm);  /* 14px */
  line-height: var(--line-height-sm); /* 20px */
  letter-spacing: var(--letter-spacing-sm); /* 0 */
  margin-bottom: var(--paragraph-spacing-sm); /* 14px */
}

/* Medium variation */
.text-medium {
  font-family: var(--font-lexend);
  font-weight: 500;
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  letter-spacing: var(--letter-spacing-base);
  margin-bottvom: 16px;
}
